.box {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
 
}
/*bug{
    border: 2px solid rgb(89, 9, 9);
 }
 .debug1{
    border: 2px solid rgb(61, 158, 34);
 }
 */
 .marge_gauche{
    margin-left: 4%;
 }
 .conteneur_flex{
    display: flex;
    position: relative;
 }
.fas{
    color: #0065fc;
 }
.font_gris1{
    color: #F2F2F2;
}
/*
.font_gris2{
    color: #757171;
}
*/
h3{
    color: black;
}
.font_style_gras{
    font-weight: bold;
}
.p1{
    line-height: 0.5em;
}
.ombre{
    box-shadow: 6px 6px 22px rgb(172, 168, 168);
}
#id_body{
    font-family: 'Raleway', sans-serif;
}
 #id_conteneur_header{
     justify-content: space-between;
     margin-right: 4%;
 }
 #id_menu{
    flex-direction: row;
    width: 200px;
    justify-content: space-between;
 }
#img_logo{
    width: 191px;
    height: 90px;
    padding: 0;
    margin-left: 30px;
    margin-bottom: 30px;
}


#zone_recherche{
    background-color: #DEEBFF;
    color: black;
    text-align: center;                
    width:120px;                
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.margin_20{
    margin: 20px;
}

#img_position{
    background-color: #F2F2F2 ;

  /*  width: 20px;
    height: 40px;*/
    color: black;
    text-align: center;   
    margin-top: 12px;   
    margin-right: 10px;               
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.img_fond{
    background-color: #F2F2F2 ;
    color: black;
}
#btn_recherche{
    background-color: #0065fc;
    color: white;
    width: 150px;
    height: 45px;
    text-align: center;
    border-width: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


#id_saisie_recherche{
    text-align: left;
    padding-left: 10px;
    border: #F2F2F2 2px solid;
    font-size: 18px; 
    font-weight: bold;
    height: 40px;
}
/* FILTRES */
.les_filtres{
    flex-direction: row;
    width: 65%;
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
button:hover{
    text-decoration: underline;
    background-color: #DEEBFF;
    cursor:pointer;
}

.un_filtre{
   margin-top: 8px;
   text-align: center;
   
}
.btn_filtre{
    
    background-color: white;
    width: auto;
    height: 50px;
 
    padding-right: 20px;
    padding-left: 60px;
    border: 4px solid #f2f2f2; 
    border-radius: 25px;
    
}

.icone_filtre{
    position : absolute;
    background-color: #DEEBFF;
    width: 50px;
    height: 35px;
    padding-top: 15px;

    border-radius: 25px;
}
/* HEBERGEMENT */
#div_infos_logements{
    margin-top: 15px;
}
.i_position{
    padding-top: 10px;
    padding-right: 15px;
}
.icone_info{
    padding-top: 8px;
    padding-left: 12px;
    background-color: white;
    height: 22px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
}

#sec_hebergement{
    margin-top: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
}

#div_les_hebergements{
    flex-direction: column;
    background-color: #f2f2f2;
    width: 63%;
    border-radius: 20px;
    padding-top: 20px;
}

#div_les_hotels{
    margin-top: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.un_hotel{
    position: relative;
   padding-bottom: 50px;
}

.un_hotel:hover{
    text-decoration: none;
    transform: scale(1.03);
}

.img_hotel{
    width: 260px;
    height: 130px;
    object-fit: cover;
    padding-bottom: 90px;
    border-radius: 10%;   
    border: 6px solid white;
    background-color: white;
}

.info_hotel{
    position: absolute;
    margin-left: 20px;
    margin-top: 130px;
}

/* POPULAIRES*/
#div_les_populaires{
    margin-right: 3.4%;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 30px;
   
}
#div_lib_populaires{
    justify-content: space-between;
    margin-right: 30px;
}
.fa{
    margin-top: 20px;
    font-size: 1.5em;
}
.un_populaire{
    position: relative;
    width: 450px;
    height: 200px;
    padding-top: 10px;
    padding-bottom:  20px;
    text-decoration: none;
}
.un_populaire:hover{
    text-decoration: none;
    transform: scale(1.05);
}
.img_populaire{
    width: 170px;
    height: 180px;
    padding-right: 230px;
    border-radius: 7%;
   border: 6px solid white;
    background-color: white;
}
.info_populaire{
    position: absolute;
    margin-left: 200px;
    margin-top: 10px;
}
.etoiles_populaires{
    padding-top: 40px;
}

/* ACTIVITES*/
#div_sec_activites{
    flex-direction: column;
    margin-top: 50px;
}
#div_les_activites{
   flex-direction: row;
    flex-wrap: wrap;
    margin-right: 3.4%;
    padding-bottom: 20px;
    justify-content: space-between;
    text-decoration: none;
    width: 96%;
}
#div_les_activites:h3{
    margin-left: 20px;

}
a{
    color: black;
}
section a{
    text-decoration: none;
    
}
a:visited {
    text-decoration: none; 
   /* color: #757171;*/
}
.une_activite{
    width: 23%;
    min-width: 300px;
    
}
.activite_type_deux{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activite_une_img{
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
img{
    
    height: 400px;
    width: 100%;
    object-fit: cover;
}
.activite_deux_img{
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.activite_une_img:hover{
    text-decoration: none;
    transform: scale(1.03);
}
.activite_deux_img:hover{
    text-decoration: none;
    transform: scale(1.03);
}
.activite_img_1{
    height: 190px;
    width: 100%;
    object-fit: cover;
}
.activite_img_2{
    height: 110px;
    width: 100%;
    object-fit: cover;
}
.activite_img_3{
    height: 150px;
    width: 100%;
    object-fit: cover;
}

/*---- FOOTER ----*/
#div_sec_footer{
    margin-top: 60px;  
    background-color: #F2F2F2 ;
    
}
.les_listes{
    width: 75%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.liste{
    margin-top: 20px;
}
ul {
    list-style:none;
    padding-left:0;
    }
li {
    margin-bottom:15px;
    }

  /*----  MEDIA QUERIES   ----*/
  @media screen and (max-width: 800px)
  {
      /*
    body{
       background-color: red;
    }
    */
    .marge_gauche{
        margin-left: 10px;
        margin-right: 0px;
    }
    #img_logo{
        width: 100px;
        height: auto;
        object-fit: contain;
        padding: 0;
        margin-left: 60px;
        margin-bottom: 30px;
    }
    #id_menu{
        padding-right: 160px;
    }
    #img_logo{
        padding-left: 100;
    }
    nav a{
        text-decoration: none;
    }
    
    #a_menu_h{
        border-bottom: 3px solid #0065fc;
        color: #0065fc;
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 10px;
    }
    #a_menu_a{
        border-bottom: 3px solid #f2f2f2;
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 10px;
    }
    #id_conteneur_header{
        flex-direction: column;
        align-items: center;
    }
    #btn_recherche{
        display: none;
       /* width: 50px;
        border-radius: 15px;
        */
    }
    
    /* icone loupe*/
    .fa-magnifying-glass{
        color: #DEEBFF;
        font-size: 35px;
    }
    .les_filtres{
        flex-direction: column;
    }

    h1.p1{
        font-size: 24px;
        line-height: 35px;
        text-align: center;
        padding-left: 20px;
        margin-right: 80px;
    }
     .p2{
        text-align: center;
        padding-left: 20px;
        margin-right: 80px;
    }

    .btn_filtre{
        font-size: 18px;
    }
    #sec_hebergement{
        flex-direction: column-reverse;
    }
    #div_les_hebergements{
        margin-top: 30px;
        margin-left: 20px;
        width: 90%;
        background-color: white;
    }
    
    .un_hotel{
        padding-bottom: 10px;
        padding-top: 0px;
    }
    
    .img_hotel{
        width: 400px;
    }
    #div_les_populaires{
        border-radius: 0px;
        width: 90%;
        
    }
  
    .un_populaire{
        margin-left: -20px;
        padding-top: 0px;
        padding-bottom: 5px;
        padding-right: 30px;
    }
 
    .une_activite{
        width: 420px;
        margin-top: 30px;
    }
    img{
        height: 180px;
    }
    .activite_img_1{
        height: 180px;
        margin-top: 30px;
    }
    .activite_img_2{
        height: 180px;
        margin-top: 30px;
    }
    .activite_img_3{
        height: 180px;
        margin-top: 30px;
    }
    .les_listes{
       /* width: 420px;*/
        flex-direction: column;
        margin-left: 30px;
    }
}
